<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Rango</title>
        
    </head>
    <body>
        <h1>Rango says...</h1>
        <div>
            hey there partner! <br />
            <strong>This tutorial has been put together by Leo Ihnatiuk </strong><br />
        </div>
        <div>
            here is about page
        </div>
        <div>
            <a href="/rango/">Index</a><br />
            <img src="{% static 'images/1130323_Rango.jpg' %}" 
                alt="Rango the chameleon">
            <img src="/media/cat.jpg" alt="Cat">
        </div>

    </body>
</html>